<!-- templates/todo_list.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список справ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <ul class="todos-list">
            {% for todo in todos %}
                <li>
                    <span class="todo-info">
                        {{ loop.index }}. {{ todo.title }} - {{ todo.description }}
                    </span>
                    <span class="todo-actions">
                        <a class="edit" href="{{ url_for('todo_update', todo_id=todo.id) }}">Редагувати</a>
                        <a class="delete" href="{{ url_for('todo_delete', todo_id=todo.id) }}">Видалити</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('todo_create') }}">Додати справу</a>
    </div>
</body>
</html>
