<!-- templates/todo_form.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма справи</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Todo Create/Update</h1>
        <form action="{{ url_for('todo_create') }}" method="POST">
            <label for="title">Назва:</label>
            <input type="text" id="title" name="title" required>
            <label for="description">Опис:</label>
            <textarea id="description" name="description"></textarea>
            <button type="submit">Зберегти</button>
        </form>
    </div>
</body>
</html>
